---
title: Using an Eye of Ender for RC detection
description:
  "An interesting right click detection method for sure, due to the fact that it
  can only be used in worlds without strongholds!"
version: 26.2
---

# Eye of Ender Right Click Detection

:::warning

This only works in world without strongholds, if you don't want that, you can
either use a similar method that works everywhere (using the Food Component
method) or do some changes to these functions, as specified at the end of this
guide.

:::

Eye of ender items can be used to detect right clicks in Minecraft. Similarly to
the Carrot on a Stick method, we can detect when an eye of ender item is being
used by the player as a result of right clicking it.

Unlike the Carrot on a Stick method, this method will be trigger every tick that
right click is being held, instead of just once when right click is pressed.

## Method

To detect when an eye of ender is being used, you must create a `using_item`
advancement, and specify the item data you want to trigger the advancement.
Then, you can specify a reward function which will be run when the advancement
is triggered.

```json:used_eye_of_ender.json
{
  "criteria": {
    "requirement": {
      "trigger": "minecraft:using_item",
      "conditions": {
        "item": {
          "items": [
            "minecraft:ender_eye"
          ],
          "predicates": {
            "minecraft:custom_data": {"custom_id": "your_custom_item_id"}
          }
        }
      }
    }
  },
  "rewards": {
    "function": "<namespace>:rightclick_run"
  }
}
```

In the function (in this case,
`/data/<namespace>/functions/rightclick_run.mcfunction`), you can put commands
that you want to run when the item is clicked. Make sure that this function also
**revokes the advancement** so that it can be triggered again next tick.

```mcfunction:rightclick_run.mcfunction
# Revoke the advancement from the player so it can be used again
advancement revoke @s only <namespace>:used_eye_of_ender

# Custom logic
say I successfully used EoE detection!
```

If you want this method to work in worlds with strongholds, you can either block
the target of ender eyes in the `pack.mcmeta` or killing the eye and giving it
back after it being used.
