---
title: Floating Point Division
description: Learn how to divide numbers in Minecraft which have decimal points.
version: 26.2
---

# Division with floating points

Typically, we can use `scoreboard players operation` to divide two numbers in
Minecraft. However, this command will only output an integer. If the result of
the division is a decimal number, it is always rounded down. To divide numbers
with decimal points, we need to use a workaround:

1. Multiply the dividend by a large factor of 10 (e.g `1000000`).
2. Divide the numbers using `scoreboard players operation`.
3. Store the result to a data storage, scaling it down by the same factor of 10.

Here is an example of how to divide two arbitrary integer numbers:

```mcfunction
# Define the numbers we want to divide (in this case, 10 / 3)
scoreboard players set #dividend math 10
scoreboard players set #divisor math 3

# Multiply the dividend by 1000000
execute store result storage minecraft:math temp int 1000000 run scoreboard players get #dividend math
execute store result score #dividend math run data get storage minecraft:math temp

# Divide the numbers
scoreboard players operation #dividend math /= #divisor math

# Store the result to a data storage
execute store result storage minecraft:math result float 0.000001 run scoreboard players get #dividend math

# Display the result
tellraw @a {"nbt":"result","storage":"minecraft:math"}
```

Alternatively, you can scale by `1/n` to divide by `n`. For instance, if you
want to divide by 2, you can scale by `1/2` which is `0.5`:

```mcfunction
# Define the numbers we want to divide (in this case, 10 / 2)
scoreboard players set #dividend math 10

# Scale down by 0.5 (divide by 2)
execute store result storage minecraft:math result float 0.5 run scoreboard players get #dividend math

# Display the result
tellraw @a {"nbt":"result","storage":"minecraft:math"}
```
