---
title: /summon
description:
  "The /summon command is used to summon an entity at a position, along with any
  entity NBT."
version: 26.2
---

# /summon command

The `/summon` command is used to summon an entity at a position, along with any
entity NBT.

## Syntax

The syntax of the `/summon` command is as follows:

```
summon <entity> [position] [nbt data]
```

- `<entity>`: an ID of a minecraft entity. For example: `minecraft:cow`,
  `marker`, `zombie`. If the namespace (`minecraft:`) is omitted, it will
  default to the `minecraft` namespace.
- `[position]` (optional): the [coordinates](/wiki/concepts/coordinates) at
  which the entity should be spawned. (Defaults to the current position).
- `[nbt data]` (optional): a compound containing the NBT (in
  [SNBT format](/wiki/nbt-scoreboards/nbt#snbt-format)) which the entity should
  be spawned with. For example: `{NoAI:1b}`.

## Examples

- `summon minecraft:cow` - Summons a cow at the current position.
- `summon minecraft:ender_dragon ~ ~50 ~` - Summons an ender dragon 50 blocks
  above the current position
- `summon minecraft:wither 29 372 121` - Summons a wither at the coordinates
  `x=29, y=372, z=121`
- `summon minecraft:zombie ~ ~ ~ {NoAI:1b}` - Summons a zombie at the current
  position with the `NoAI` NBT, meaning it will not move around or attack
  players.

## Alternatives

The `execute summon <entity>` command can also be used to summon an entity.
Using this
[execute subcommand](/wiki/command/execute#execute-summon-ltentitygt-) will
summon an entity at the current position, and then run the specified command as
the newly summoned entity.

However, `execute summon` cannot provide any NBT to give the entity upon being
spawned. You will have to edit the nbt in the command/function which is
executed, which can be a bit tedious. An alternative to
`execute summon minecraft:cow run function custom_function` would be the
following:

```mcfunction
summon minecraft:cow ~ ~ ~ {Tags:["newly_summoned_cow"]}
execute as @n[type=cow,tag=newly_summoned_cow] at @s run function custom_function
tag @n[type=cow,tag=newly_summoned_cow] remove newly_summoned_cow
```
