---
title: Breaking Changes
description: "A list of breaking changes to datapacks."
version: 26.2
---

# List of breaking changes

This is a list of breaking changes to datapacks. Resource-pack changes are
included when they affect a pack's format or data files. Special thanks to [Conure's How To
Upgrade Your Datapacks Series](https://www.youtube.com/playlist?list=PLgbPk8f9bw9rtYmnIpcd0__q9cjVqmx1l),
[Misode's Technical Changelog](https://misode.github.io/changelog/) and the
[Minecraft Wiki](https://minecraft.wiki/) for the source of earlier sections.

## 26.2

The data pack format is now `107.1`, and the resource pack format is now `88.0`.

**Commands**

- Team colour arguments for `/team modify <team> color` and
  `/waypoint modify <waypoint> color` now accept only lowercase names with underscores, such as
  `dark_purple`.
- `/execute on owner` now treats Vexes as owned by their Evoker.

**Entity and block entity data**

- The `HurtByTimestamp` tag was removed from living entities. Use
  `ticks_since_last_hurt_by_mob` instead.
- The `minecraft:bed` block entity was removed.

**Entity predicates**

- Predicate keys now use namespaced IDs. The `type` field was renamed to
  `minecraft:entity_type`.
- Type-specific predicates moved to namespaced top-level keys:
  `type_specific/player` became `minecraft:type_specific/player`, with similar
  changes for `lightning`, `fishing_hook`, `raider`, `sheep`, and `cube_mob`.
- The slime predicate became `minecraft:cube_mob` because it now also covers
  Magma Cubes and Sulfur Cubes.
- Unknown predicate components are now rejected instead of ignored.

**World generation**

- The configured feature types `pointed_dripstone` and `dripstone_cluster` were
  renamed to `speleothem` and `speleothem_cluster`; their related fields were
  renamed as well.
- `minecraft:weird_scaled_sampler` was removed. Use
  `minecraft:interval_select` instead.
- `minecraft:multiface_growth` now requires its `block` field.
- `large_dripstone.column_radius` is limited to 16 instead of 19.
- The `#concrete_powder` block tag was renamed to `#concrete_powders`.

**Resource packs**

- Beds, signs, and hanging signs now use block models instead of built-in entity
  models. The `minecraft:beds` and `minecraft:signs` texture atlases were
  removed.

## [26.1](https://minecraft.wiki/w/Java_Edition_26.1)

**Other**
- The default value of the `rotation` property on banners and signs has been changed from `0` to `8`.
  - To fix this, just add a `[rotation=0]`.
- The `villager.*` slots have been removed. You can now access them using `mob.inventory.*`.
- The field `ignore_fall_damage_from_current_explosion` field on players has been removed.
- The `minecraft:post_piercing_attack` no longer requires the player to have 7+ hunger to work. If you want it to retain its previous functionality, you must now add a predicate testing for the player's hunger.
- A new required field `has_ender_dragon_fight` has been added to Dimension Type files.

**Time**
- There have been multiple changes to the `/time`.
  - The `time` command now affects time per dimension, as there is now no universal time for all dimensions. Previously, it affected the time of the overworld, no matter where it was ran from.
    - To fix this, add `of minecraft:overworld` to all `time` commands. (e.g. `/time of minecraft:overworld set 1500`). This only applies if the command is not being run from the overworld.
  - `/time (of minecraft:overworld) set <day|night|noon|midnight>` now advanced the time to the next day/night/moon/midnight, instead of setting it to a constant value (e.g. 18000 was previous midnight)
  - `/time query daytime` is now `/time query minecraft:day`
  - `/time query day` is now `/time query minecraft:day repetition`
- A new field `default_clock` has been added to Dimension Type files, and while it isn't required, omitting it will result in there being no time in that dimension.
  - You can just set `default_clock` to `minecraft:overworld` to restore its previous behaviour.
- The `time_check` predicate condition, [Timelines](https://minecraft.wiki/w/Timeline) and `time_of_day` [Game Test environments](https://minecraft.wiki/w/GameTest#Test_environment) now have a required field `clock`.
  - You can just set `clock` to `minecraft:overworld` to restore its previous behaviour.

**Mob Variations**
- For cats, chickens, cows and pigs, a new field `baby_asset_id` is now required.
- For wolfs, a new field `baby_asset` is now required. It has the same format as the `asset` field.
- Wolf sound variants in `wolf_sound_variant` have been moved into a new field `adult_sounds`, as a new field `baby_sounds` was added.

**Worldgen**
- Several [worldgen features](/wiki/worldgen/custom-worldgen#features) have been renamed and are now configurable
  - The `forest_rock` configured feature has been renamed to `block_blob`.
    - Has a new required block predicate field `can_place_on`.
  - The `ice_spike` configured feature has been renamed to `spike`.
    - Has new required block state provider field `state`.
    - Has new required block predicate fields `can_place_on` and `can_replace`.
  - The `huge_red_mushroom` and `huge_brown_mushroom` configured features have a new required block predicate field `can_place_on`.
  - In the `tree` feature the `force_dirt` and `dirt_provider` parameters were replaced with a `below_trunk_provider` rule-based block state provider.
  - The `state_provider` under the `disk` feature is now a block state provider. This means you must add a `"type": "minecraft:rule_based_state_provider"` to it. 
  - Features spawned from Bone Meal are no longer restricted to the flower feature type, and instead controlled by the `#can_spawn_from_bone_meal` configured feature tag.
  - The `flower`, `flower_no_bonemeal`, and `random_patch` feature types have been removed, instead patches can now be expressed as a sequence of `count` and `random_offset` placement modifiers.
- The `alter_ground` tree decorator configuration has changed so that provider is now a rule-based block state provider.

**Block Tags**
- `#dry_vegetation_may_place_on` has been renamed to `#supports_dry_vegetation`
- `#bamboo_plantable_on` has been renamed to `#supports_bamboo`
- `#small_dripleaf_placeable` has been renamed to `#supports_small_dripleaf`
- `#big_dripleaf_placeable` has been renamed to `#supports_big_dripleaf`
- `#mushroom_grow_block` has been renamed to `#overrides_mushroom_light_requirement` (Mushrooms cannot survive without a light level below 13 if not in the above tag.)
- `#snow_layer_can_survive_on` has been renamed to `#support_override_snow_layer` (Snow layers can be placed on blocks in this tag even if they do not have a top full face.)
- `#snow_layer_cannot_survive_on` has been renamed to `#cannot_support_snow_layer`
- `#dirt` has been split into multiple other tags, and now only contains dirt blocks. To keep its previous functionality, use the new `#substrate_overworld` block tag.

**Item Tags**
- The `#dyeable` item tag has been removed, as it's now controlled by the `crafting_dye` recipe type.

**Enchantment Tags**
- Removed the `#trades/desert_special`, `#trades/jungle_special`, `#trades/plains_special`, `#trades/savanna_special`, `#trades/snow_special`, `#trades/swamp_special`, `#trades/taiga_special`.
  - These only exist if you are using the "Villager Trade Rebalance" experimental datapack.

**Recipes**
- Renamed the following stonecutter recipes, alongside their relevant advancements
  - `minecraft:chiseled_stone_bricks_stone_from_stonecutting` → `minecraft:chiseled_stone_bricks_from_stone_stonecutting`
  - `minecraft:end_stone_brick_slab_from_end_stone_brick_stonecutting` → `minecraft:end_stone_brick_slab_from_end_stone_bricks_stonecutting`
  - `minecraft:end_stone_brick_stairs_from_end_stone_brick_stonecutting` → `minecraft:end_stone_brick_stairs_from_end_stone_bricks_stonecutting`
  - `minecraft:end_stone_brick_wall_from_end_stone_brick_stonecutting` → `minecraft:end_stone_brick_wall_from_end_stone_bricks_stonecutting`
  - `minecraft:mossy_stone_brick_slab_from_mossy_stone_brick_stonecutting` → `minecraft:mossy_stone_brick_slab_from_mossy_stone_bricks_stonecutting`
  - `minecraft:mossy_stone_brick_stairs_from_mossy_stone_brick_stonecutting` → `minecraft:mossy_stone_brick_stairs_from_mossy_stone_bricks_stonecutting`
  - `minecraft:mossy_stone_brick_wall_from_mossy_stone_brick_stonecutting` → `minecraft:mossy_stone_brick_wall_from_mossy_stone_bricks_stonecutting`
  - `minecraft:prismarine_brick_slab_from_prismarine_stonecutting` → `minecraft:prismarine_brick_slab_from_prismarine_bricks_stonecutting`
  - `minecraft:prismarine_brick_stairs_from_prismarine_stonecutting` → `minecraft:prismarine_brick_stairs_from_prismarine_bricks_stonecutting`
  - `minecraft:quartz_slab_from_stonecutting` → `minecraft:quartz_slab_from_quartz_block_stonecutting`
  - `minecraft:stone_brick_walls_from_stone_stonecutting` → `minecraft:stone_brick_wall_from_stone_stonecutting`

## [1.21.11](https://minecraft.wiki/w/Java_Edition_1.21.11)

You can also watch this video from Conure covering the breaking datapack
changes:
[Why Your Datapack Broke in 1.21.11](https://www.youtube.com/watch?v=9QuRZOP3Gcw&list=PLgbPk8f9bw9rtYmnIpcd0__q9cjVqmx1l&index=7)

**Commands**
- All gamerules have been moved to a registry, this mainly means that they now use the `minecraft:` prefix and are now in `snake_case`, though some have been renamed.
  - <details><summary>There are some exceptions to the generic renames. Click to see them all.</summary>
      <ul>
        <li><code>disableElytraMovementCheck</code> → <code>minecraft:elytra_movement_check</code> (the value was inverted)</li>
        <li><code>disablePlayerMovementCheck</code> → <code>minecraft:player_movement_check</code> (the value was inverted)</li>
        <li><code>disableRaids</code> → <code>minecraft:raids</code> (the value was inverted)</li>
        <li><code>command_modification_block_limit</code> → <code>minecraft:max_block_modifications</code></li>
        <li><code>doDaylightCycle</code> → <code>minecraft:advance_time</code></li>
        <li><code>doMobLoot</code> → <code>minecraft:mob_drops</code></li>
        <li><code>announceAdvancements</code> → <code>minecraft:show_advancement_messages</code></li>
        <li><code>commandBlocksEnabled</code> → <code>minecraft:command_blocks_work</code></li>
        <li><code>doEntityDrops</code> → <code>minecraft:entity_drops</code></li>
        <li><code>doImmediateRespawn</code> → <code>minecraft:immediate_respawn</code></li>
        <li><code>doInsomnia</code> → <code>minecraft:spawn_phantoms</code></li>
        <li><code>doLimitedCrafting</code> → <code>minecraft:limited_crafting</code></li>
        <li><code>doMobSpawning</code> → <code>minecraft:spawn_mobs</code></li>
        <li><code>doPatrolSpawning</code> → <code>minecraft:spawn_patrols</code></li>
        <li><code>doTileDrops</code> → <code>minecraft:block_drops</code></li>
        <li><code>doTraderSpawning</code> → <code>minecraft:spawn_wandering_traders</code></li>
        <li><code>doVinesSpread</code> → <code>minecraft:spread_vines</code></li>
        <li><code>doWardenSpawning</code> → <code>minecraft:spawn_wardens</code></li>
        <li><code>doWeatherCycle</code> → <code>minecraft:advance_weather</code></li>
        <li><code>maxCommandChainLength</code> → <code>minecraft:max_command_sequence_length</code></li>
        <li><code>maxCommandForkCount</code> → <code>minecraft:max_command_forks</code></li>
        <li><code>naturalRegeneration</code> → <code>minecraft:natural_health_regeneration</code></li>
        <li><code>snowAccumulationHeight</code> → <code>minecraft:max_snow_accumulation_height</code></li>
        <li><code>spawnRadius</code> → <code>minecraft:respawn_radius</code></li>
        <li><code>spawnerBlocksEnabled</code> → <code>minecraft:spawner_blocks_work</code></li>
      </ul></details>
  - <details><summary>Some gamerules now have a limited value range. Click to see them all.</summary>
      <ul>
        <li><code>max_block_modifications</code> - Minimum 1</li>
        <li><code>max_command_forks</code> - Minimum 1</li>
        <li><code>max_command_sequence_length</code> - Minimum 0</li>
        <li><code>max_entity_cramming</code> - Minimum 0</li>
        <li><code>max_snow_accumulation_height</code> - Minimum 0 | Maximum 8</li>
        <li><code>players_nether_portal_creative_delay</code> - Minimum 0</li>
        <li><code>players_nether_portal_default_delay</code> - Minimum 0</li>
        <li><code>players_sleeping_percentage</code> - Minimum 0</li>
        <li><code>random_tick_speed</code> - Minimum 0</li>
        <li><code>respawn_radius</code> - Minimum 0</li>
      </ul>
    </details>
  - The gamerule `doFireTick` and `allowFireTicksAwayFromPlayer` have been removed and replaced with `minecraft:fire_spread_radius_around_player`, which controls the maximum distance in blocks that fire can spread around the player.
    - Setting it to `0` disables fire spreading.
    - Setting it to `-1` will allow fire to spread even without players around.
  - In [Game Tests](https://minecraft.wiki/w/GameTest), in the `game_rules` test environment the `bool_rule` and `int_rule` have been replaced with a single `rules` field.
    - The `rules` field is a list of key-value pairs with the key being the gamerule's name and the value being the value (bool or int). (`"minecraft:random_tick_speed": 62`)
- Many fields from Biome and Dimension Type files have been removed and replaced by [Environment Attributes](https://minecraft.wiki/w/Environment_attribute).
  - Because this change is so huge, and covers so many fields, I won't list out all the changes here. I recommend just reading the wiki page about them.
- If you were using the world border to track real time, it won't work now, as it uses game time now.
  - You can now get the real time using the (`/stopwatch`)[https://minecraft.wiki/w/Commands/stopwatch] command.
- The `/worldborder` command is now specified in ticks by default, rather than the previous seconds.
  - To restore its previous functionality, add an `s` suffix to the end. (`/worldborder set 620 20s`)

**Items**
- The `spear` animation in the `consumable` item component has been renamed to `trident`, the `spear` animation still exists, but now uses a different animation. (the same as vanilla spears)
- If you are using the `filtered` item modifier, rename the field `modifier` with `on_pass`. (as a new `on_fail` field was also added)

**Tags**
- Renamed item tag `#enchantable/sword` to `#enchantable/sweeping`.
  - This only controls enchantability for the sweeping edge enchant. May be preferable to use the `#minecraft:enchantable/meele_weapon`, which includes spears and swords.
- Removed some biome tags, depending on your use for them, follow the steps below:
  - If you were only referencing them in your code, and not editing them:
    - Create these tags yourself with their previous values.
    - If you were using them to edit biome properties, this funcionality has been replaced with new [Environment Attributes](https://minecraft.wiki/w/Environment_attribute).
      - Removed `#snow_golem_melts` biome tag - replaced by `gameplay/snow_golem_melts` environment attribute.
      - Removed `#increased_fire_burnout` biome tag - replaced by `gameplay/increased_fire_burnout` environment attribute.
      - Removed `#plays_underwater_music` biome tag - replaced by `only_underwater` field in the `audio/background_music` environment Attribute.
      - Removed `#has_closer_water_fog` biome tag - replaced by `visual/water_fog_radius` environment Attribute.
      - Removed `#without_patrol_spawns` biome tag - replaced by `gameplay/can_pillager_patrol_spawn` environment Attribute.

**Entity Data**
- The `AngryAt` field has been renamed to `angry_at`.
- The `AngerTime` field has been removed, as it has been replaced by an `anger_end_time` field, stored as a long, which is the number of the tick the anger ends at.
  - If you NEED to only make the mob angry for a certain amount of time, you will have to get the game's tick number with `/time query gametime`, store that, add to it the amount of ticks you want and then set the `anger_end_time` to that.

**Other**
- The minecraft texture atlas `minecraft:blocks` no longer stores blocks & items, as items are now stored in the `minecraft:items` atlas.

## [1.21.9 - 10](https://minecraft.wiki/w/Java_Edition_1.21.9)

You can also watch this video from Conure covering the breaking datapack
changes:
[Why Your Datapack Broke in 1.21.9](https://www.youtube.com/watch?v=9bpM26PXsj0&list=PLgbPk8f9bw9rtYmnIpcd0__q9cjVqmx1l&index=6)

**Other**
- The `pack.mcmeta` format has been completely changed. Pack versions now have major and minor changes. Based on which versions you plan to support, folow the steps below to update it. (also applied to resource packs)
  - If you only plan to support 1.21.9 and newer:
    - The `supported_formats` field has been removed and replaced by `min_format` and `max_format`, which are specified as a list of two integers ([major, minor]) or one integer (makes it support any minor version).
    - The same applies for the `formats` field in the overlay section, it has also been replaced by `min_format` and `max_format`
  - If you plan to support older versions too (1.21.8 and below):
    - You must keep the `supported_formats` field in addition to the new `min_format` and `max_format`, which are specified as a list of two integers ([major, minor]) or one integer (makes it support any minor version).
    - The same applies for the `formats` field in the overlay section, which you must also keep in addition to the new `min_format` and `max_format`.
- The `flash` particle now requires a `color` parameter.
  - To fix this, and restore its original white, just add `{color:[1.000,1.000,1.000,1.00]}` to the end, like any other particle parameter.
- The item and block `minecarft:chain` has been renamed to `minecraft:iron_chain`
- The field `respawn.angle` on the player has been renamed to `respawn.yaw` (now you can also get `respawn.pitch`)

**Commands**
- The gamerule `spawnChunkRadius` has been removed, as "loaded" spawn chunks no longer exist.
- The `spawnpoint` and `setworldspawn` commands require an additional pitch parameter, IF you also specified the yaw parameter.
  - If you didn't specify any, you can just ignore this, if you did have yaw, just add a 0 to the end of the command.

**Worldgen**
- The `initial_density_without_jaggednes`s field in `noise_settings` definitions has been replaced with a `preliminary_surface_level` field.
  - The `minecraft:find_top_surface` density function can be used to replicate the previous scanning.

## [1.21.6 - 8](https://minecraft.wiki/w/Java_Edition_1.21.6#Technical)

You can also watch this video from Conure covering the breaking datapack
changes:
[Why Your Datapack Broke in 1.21.6-8](https://www.youtube.com/watch?v=w26d8BGp404&list=PLgbPk8f9bw9rtYmnIpcd0__q9cjVqmx1l&index=6)

**Other**

- If you are using an item which renders bigger than its inventory size is (most
  likely for a barrel/custom GUI), it will break with this version. You can
  change the item model to behave like previously by changing the newly added
  `oversized_in_gui` item model field in the resource pack.
- The sound event id `block.sand.wind` has been renamed to
  `block.dry_grass.ambient`
- All JSON files (in worlds, packs, configuration, etc.) are now parsed in
  strict mode
- Users will now be prompted for confirmation before executing a command from
  the `run_command` click action in books and chat if the command requires
  permissions higher than 0. This is not a breaking change, just a warning which
  shows to the player.

**Item Componenents**

- The `painting/variant` component no longer accepts inline variants

**Entity Data**

- The `Particle` field in the `area_effect_cloud` entity has been renamed to
  `custom_particle`, and now always functions as an exact override for the
  default colored `entity_effect` particle

**Tags**

- Renamed `#plays_ambient_desert_block_sounds` block tag to
  `#triggers_ambient_desert_sand_block_sounds`

## [1.21.5](https://minecraft.wiki/w/Java_Edition_1.21.5#Technical)

You can also watch this video from Conure covering the breaking datapack
changes:
[Why Your Datapack Broke in 1.21.5](https://www.youtube.com/watch?v=sE7P3QYFniM&list=PLgbPk8f9bw9rtYmnIpcd0__q9cjVqmx1l&index=4&ab_channel=Conure)

**Other**

- Trim pattern and trim material items are no longer specified in the trim
  registries, but instead in the recipes and items respectively
  - 🛠️ To fix this:
    - 1. Trim Pattern - delete the field `template_item` from your trim pattern
         file, and add a new field containing your trim pattern id into your
         smithing trim pattern recipe. See the
         [Smithing Trims guide](/guide/adding-new-features/smithing-trims#adding-a-smithing-trim-pattern)
         for an example.
    - 2. Trim Material - delete the field `ingredient` from your trim material
         file, and add the
         [`provides_trim_material`](https://minecraft.wiki/w/Data_component_format#provides_trim_material)
         item component to your item. (E.g.
         `barrier[provides_trim_material='minecraft:iron']`) See the
         [Smithing Trims guide](/guide/adding-new-features/smithing-trims#adding-a-smithing-trim-color-palette)
         for an example.
- Field `background` in advancement definition no longer contains `textures/`
  prefix and `.png` suffix
- Wolf Variants
  - In the wold variants file, the fields `angry_texture`, `tame_texture` and
    `wild_texture` have been grouped in field `assets` and renamed to `angry`,
    `tame` and `wild`.
  - Added field `spawn_conditions`, which describes where the variant can spawn.
    See more in the changelog under "Spawn conditions".

**Data Types**

- The data format of Text Components was changed from [JSON](/wiki/info/json) to
  [SNBT](/wiki/nbt-scoreboards/nbt#snbt-format).
  - With that, all the special formats and values were changed. You can read
    more about it on the changelog.
  - For example, `minecraft:custom_name="{"text":\"Renamed item\"}"` is now
    `minecraft:custom_name={text:'Renamed item'}`. Or the previous
    `/tellraw @s ""text":"Hello world""` is now
    `/tellraw @s {text:'Hello world'}`

**Tags**

- Removed `#default_spawns` and `#full_moon_spawns` in cat variant tags
- Renamed `#dead_bush_may_place_on` block tag to `#dry_vegetation_may_place_on`

**Entities & Entity Data**

- The `potion` entity type has been split into `splash_potion` and
  `lingering_potion`

- A lot of fields will no longer be preserved, or have been removed (You can see
  them all on https://www.minecraft.net/en-us/article/minecraft-snapshot-25w07a)
- The `ArmorDropChances`, `HandDropChances`, and `body_armor_drop_chance` fields
  have been merged into a `drop_chances` field.
  - The format is a list of `equipment_slot:value` variables. E.g.
    `drop_chances:{chest:0.1,feet:1.0}`
  - And drop chances with a default value are no longer stored. The
    `drop_chances` field is removed entirely if all defaults.
- The `ArmorItems`, `HandItems`, and `body_armor_item` fields have been merged
  into an `equipment` field
  - The format is a list of `equipment_slot:item_stack` variables. E.g.
    `equipment:{chest:{id:'minecraft:diamond_chestplate'}}`.
  - This affects all mobs and Armor Stands, but not players.
- The format of saddles has been unified between mobs, becoming a new equipment
  slot, stored in the `equipment.saddle` field.
  - This is a pure rename from the previous `SaddleItem` in horse-like mobs. In
    striders and pigs this replaces the old `Saddle` boolean.
  - The Saddle dropping on death is now affected by the `drop_chances` field.
- The `FallDistance` field has been changed from float to double and is now
  called `fall_distance`
- The armor and off-hand equipment of Players is now also stored in the
  `equipment` field _(although items written into the Inventory using armor and
  off-hand slot numbers still work)_
- `Pos`, `Motion`, and `Rotation` values without the correct number of
  components (3, 3, and 2 respectively) will now be fully discarded, instead of
  only selecting the specified components
- The `SleepingX`, `SleepingY`, and `SleepingZ` fields have been merged into a
  single `sleeping_pos` field (e.g. `sleeping_pos: [I;1,2,3]`)
- Block States in the entity data of Arrows, Minecarts, Block Displays,
  Endermen, Falling Blocks, Primed TNT, or Piston Moving Blocks are no longer
  allowed to be specified as an empty object

<details><summary>Lots of entity and block entity data fields now have a new default value. Click to see them all</summary>

**Entity Data**

- `creeper` - `Fuse` defaults to 30; `ExplosionRadius` defaults to 3; <br>
- `tnt` - `block_state` defaults to `tnt`; `fuse` defaults to 80;
  `explosion_power` defaults to 4; <br>
- `goat` - `HasLeftHorn` and `HasRightHorn` fields default to true; <br>
- `interaction` - `width` and `height` fields default to 1; <br>
- `allay` - `CanDuplicate` field removed (now controlled by
  `DuplicationCooldown`); <br>
- `cat` - `CollarColor` defaults to 14 (red); <br>
- `dolphin` - `TreasurePosX`, `TreasurePosY`, `TreasurePosZ` fields removed;
  `Moistness` defaults to 2400; <br>
- `falling_block` - `BlockState` defaults to sand; `HurtEntities` defaults to
  false (or true if BlockState is anvil); `FallHurtAmount` defaults to 0;
  `FallHurtMax` defaults to 40; `DropItem` defaults to true; <br>
- `fox` - `Trusted` field defaults to empty; <br>
- `phantom` - `Size` renamed to `size`; `AX`, `AY`, and `AZ` fields collected
  into a single `anchor_pos` field; <br>
- `player` - `SpawnX`, `SpawnY`, `SpawnZ`, `SpawnAngle`, `SpawnDimension`, and
  `SpawnForced` fields collected into a single `respawn` field;
  `enteredNetherPosition` renamed to `entered_nether_pos`; <br>
- `turtle` - `HomePosX`, `HomePosY`, and `HomePosZ` fields collected into a
  single `home_pos` field; `HasEgg` renamed to `has_egg`; <br>
- `vex` - `LifeTicks` renamed to `life_ticks`; `BoundX`, `BoundY`, and `BoundZ`
  fields collected into a single `bound_pos` field; <br>
- `wolf` - `CollarColor` defaults to 14 (red); <br>
- `area_effect_cloud` - `Duration` defaults to -1 (infinite); <br>
- `ender_dragon` - `DragonDeathTime` defaults to 0; <br>
- `firework_rocket` - `ShotAtAngle` defaults to false; <br>
- `ghast` - `ExplosionPower` defaults to 1; <br>
- `item` - `Health` defaults to 5; `PickupDelay` defaults to 0; `Age` defaults
  to 0; <br>
- `item_frame` and `glow_item_frame` - `ItemDropChance` defaults to 1.0; <br>
- `shulker` - `Color` defaults to 16 (no color); <br>
- `skeleton` - `StrayConversionTime` field removed; <br>
- `spectral_arrow` - `Duration` defaults to 200; <br>
- `snow_golem` - `Pumpkin` defaults to true; <br>
- `tnt_minecart` - `fuse` defaults to 80; `explosion_power` defaults to 4;
  `explosion_speed_factor` defaults to 1; <br>
- `trader_llama` - `DespawnDelay` defaults to 47999; <br>
- `villager` - `FoodLevel` and `Xp` fields default to 0; <br>
- `wandering_trader` - `DespawnDelay` defaults to 0; <br>
- `zombie` - `DrownedConversionTime` field removed; <br>
- `zombie_villager` - `Xp` defaults to 0; <br>
- `arrow`, `spectral_arrow`, `trident` - `damage` defaults to 2; <br>
- `dragon_fireball`, `wind_charge`, `breeze_wind_charge`, `wither_skull`,
  `small_fireball`, and `large_fireball` - `acceleration_power` defaults to 0.1;
  <br>
- `small_fireball` and `large_fireball` - `ExplosionPower` defaults to 1; <br>
- `block_display`, `item_display`, and `text_display` -
  `interpolation_duration`, `teleport_duration`, and `start_interpolation`
  fields default to 0; `view_range` defaults to 1; `shadow_radius` defaults to
  0; `shadow_strength` defaults to 1; `width` and `height` fields default to 0;
  <br>

**Block Entity Data**

- `campfire` - `CookingTimes` and `CookingTotalTimes` fields removed; <br>
- `chiseled_bookshelf` - `last_interacted_slot` defaults to -1; <br>
- `hopper` - `TransferCooldown` defaults to -1; <br>
- `jigsaw` - `name`, `target`, and `pool` fields default to `minecraft:empty`;
  `final_state` defaults to `minecraft:air`; <br>
- `sculk_shrieker` - `warning_level` defaults to 0; <br>
- `structure_block` - `ignoreEntities` and `showboundingbox` fields default to
  true; `posY` defaults to 1;

</details>

**Commands**

- The `horse.saddle` item slot has been renamed to `saddle`, and now supports
  any entity that can equip a Saddle.
- The behavior of `setblock` and `fill` commands have changed in how they handle
  block entity data:
  - If the block entity data is not specified, and the existing block has data,
    the block entity data will be preserved
  - If the block entity data is specified, the block entity data will be set to
    the specified value
  - To clear the block entity data explicitly, you must now specify the block
    entity data as `{}`
  - The operation is now successful if either the block state changed or the
    block entity data changed

**Item Componenents**

- Entities now have a set of components fro changing variants and other
  apperance like stuff.
  - Mob buckets and paintings available in creative menu will now use new entity
    variant components instead of
    [`entity_data`](https://minecraft.wiki/w/Data_component_format#entity_data)
    component
  - Custom tooltips for Bucket of Tropical Fish and Painting items are now based
    on new components instead of
    [`bucket_entity_data`](https://minecraft.wiki/w/Data_component_format#bucket_entity_data)
    and
    [`entity_data`](https://minecraft.wiki/w/Data_component_format#entity_data)
- The `hide_additional_tooltip` and `hide_tooltip` component were removed, and
  replaced by the new
  [`tooltip_display`](https://minecraft.wiki/w/Data_component_format#tooltip_display)
  component. This means that all the items which used this will now need to be
  hidden using the new component.
- All item components which had a `show_in_tooltip` field, had this field
  removed. The old behaviours can be done using the new `tooltip_display`
  component.
- In the [`dyed`](https://minecraft.wiki/w/Data_component_format#dyed_color)
  component, the color field now always uses its simplified form, with the rgb
  field inlined to top-level (e.g. `dyed_color={rgb:12345}` →
  `dyed_color=12345`).
- In the
  [`can_place_on`](https://minecraft.wiki/w/Data_component_format#can_place_on)
  and [`can_break`](https://minecraft.wiki/w/Data_component_format#can_break),
  the predicates field has been inlined to top-level, and supports either a
  single element or list. (e.g.
  `can_place_on={predicates:[{blocks:'stone'},{blocks:'dirt'}]}` →
  `can_place_on=[{blocks:'stone'},{blocks:'dirt'}]`)
- The
  [`enchantments`](https://minecraft.wiki/w/Data_component_format#enchantments)
  and
  [`stored_enchantments`](https://minecraft.wiki/w/Data_component_format#stored_enchantments)
  components, will now always use their simplified form, with the `levels` field
  inlined to top-level (e.g. `enchantments={levels:{sharpness:2}}` →
  `enchantments={sharpness:2}`)

**Recipes**

- The `base` ingredient field is no longer optional in the
  [`smithing_transform`](/wiki/files/recipes#smithing-fields) recipe type.
- The `base`, `template`, and `addition` ingredient fields are no longer
  optional in the [`smithing_trim`](/wiki/files/recipes#smithing-fields) recipe
  type.
- Added a new field `pattern` in the
  [`smithing_trim`](/wiki/files/recipes#smithing-fields) recipe type.

**Predicates**

- Some entity sub-predicates have been removed and replaced by a combination of
  `components` predicate and variant entity components
  - These include: `axolotl`, `fox`, `mooshroom`, `rabbit`, `horse`, `llama`,
    `villager`, `parrot`, `salmon`, `tropical fish`, `painting`, `cat`, `frog`,
    `wolf`, `pig`
- Field `color` has been removed from `minecraft:sheep` sub-predicate
- The `stepping_on` entity predicate can now only evaluate to true if the entity
  is on ground

## [1.21.4](https://minecraft.wiki/w/Java_Edition_1.21.4#Technical)

You can also watch this video from Conure covering the breaking datapack
changes:
[Why Your Datapack Broke in 1.21.4](https://www.youtube.com/watch?v=N2rU-3_2txc&list=PLgbPk8f9bw9rtYmnIpcd0__q9cjVqmx1l&index=3&ab_channel=Conure)

**Item Components**

- Field `model` in
  [`equippable`](https://minecraft.wiki/w/Data_component_format#equippable)
  component has been renamed to `asset_id`.
- The [`dyed`](https://minecraft.wiki/w/Data_component_format#dyed_color)
  component now tint's based on the model, not item ID.
- The
  [`custom_model_data`](https://minecraft.wiki/w/Data_component_format#custom_model_data)
  component has new fields `floats`, `flags`, `strings`, `colors`.
- Item blocks with
  [`block_entity_data`](https://minecraft.wiki/w/Data_component_format#block_entity_data)
  component will now set block entity data only if id tag matches type of placed
  block entity

**Renames**

- The `TNTFuse` field of TNT Minecarts has been renamed to `fuse`
- Changed some Furnace, Smoker and Blast Furnace data. From camelCase to
  snake_case.
  - Renamed `CookTime` to `cooking_time_spent`
  - Renamed `CookTimeTotal` to `cooking_total_time`
  - Renamed `BurnTime` to `lit_time_remaining`

**Other**

- Removed `#tall_flowers` block tag. And also removed the `#flowers` and
  `#tall_flowers` item tags.
- The `trail` particle has a new required field: `duration` - Indicates, in
  ticks, for how long the particles should travel to its destination.
- 🎨 The item model resource pack format got completely changed, now allowing
  for tinting, layered, conditional, and much more!

## [1.21.2](https://minecraft.wiki/w/Java_Edition_1.21.2#Technical)

You can also watch this video from Conure covering the breaking datapack
changes:
[Why Your Datapack Broke in 1.21.2](https://www.youtube.com/watch?v=Xqj4EAebj80&list=PLgbPk8f9bw9rtYmnIpcd0__q9cjVqmx1l&index=2&ab_channel=Conure)

**Item Components**

- The [`food`](https://minecraft.wiki/w/Data_component_format#food) item
  component no longer automatically allows for consumption of food, and now only
  holds the data relating to it (meaning `nutrition`, `saturation` and
  `can_always_eat` are the only fields left in the component)
  - 🛠️ To fix this, just add the
    [`consumable`](https://minecraft.wiki/w/Data_component_format#consumable)
    component: `consumable={}`. This component is very customizable, you can
    read about it
    [here](https://minecraft.wiki/w/Data_component_format#consumable).
- The [`lock`](https://minecraft.wiki/w/Data_component_format#lock) has been
  changed into an item predicate, with a format of `lock={ITEM_PREDICATE}`
  - 🛠️ The previous `lock="MyKey"` would now look like
    `lock={components:{"minecraft:custom_name":"'MyKey'"}}`
- The `fire_resistant` component has been renamed to
  [`damage_resistant`](https://minecraft.wiki/w/Data_component_format#damage_resistant),
  with a new field
  - `types` - A `#` damage type tag. Items in entity form or worn by players
    with this component will be resistant to the damage types included in the
    tag.

**Loot Tables**

- The `/loot` command now returns an error when trying to drop from block
  without loot table (like air)
- The special loot table `empty` has been removed.
- Sheep now always use a single loot table `entities/sheep`, but wool drops are
  still defined in sub-tables in `entities/sheep/<color>`

**Other**

- Attribute IDs now don't have the `generic.`, `player.` or `zombie.` prefixes
  anymore (`generic.scale` → `scale`).
- `boat` and `chest_boat` entity types have been split into separate types, one
  per variant (`Type=oak` → `minecraft:oak_boat`,...)
  - With that the `minecraft:boat` entity sub-predicate has been removed.
- The previous `Lock` field of containers has been renamed to `lock` and is now
  an item predicate.
- You now cannot ride Leash Knots, Lighting Bolts and Fishing Bobbers with
  `/ride` command.
- The `killed_by_crossbow` advancement was renamed to `killed_by_arrow`, and
  will now trigger whenever an arrow kills an entity, not just when fired from a
  crossbow.
- Renamed effect type `damage_item` to `change_item_damage`, which now also
  supports negative amounts.
- Removed liquid carvers and changed biome format (the `carvers` field is now
  just a list of carvers)

## [1.21](https://minecraft.wiki/w/Java_Edition_1.21#Technical)

You can also watch this video from Conure covering the breaking datapack
changes:
[Why Your Datapack Broke in 1.21](https://www.youtube.com/watch?v=QiSoehiXV_c&list=PLgbPk8f9bw9rtYmnIpcd0__q9cjVqmx1l&index=1&ab_channel=Conure)

**General Renames**

- All folders which previously had plural names (except `tags`) now have
  singular names. A list of all changed folders can be found below:
  - `structures` → `structure`
  - `advancements` → `advancement`
  - `recipes` → `recipe`
  - `loot_tables` → `loot_table`
  - `predicates` → `predicate`
  - `item_modifiers` → `item_modifier`
  - `functions` → `function`
  - `tags/functions` → `tags/function`
  - `tags/items` → `tags/item`
  - `tags/blocks` → `tags/block`
  - `tags/entity_types` → `tags/entity_type`
  - `tags/fluids` → `tags/fluid`
  - `tags/game_events` → `tags/game_event`
- The `uuid` and `name` arguments have been replaced with a singular namespaced
  `id` argument.
  - 🛠️ For example: `attribute ... modifier add <uuid> <name> 0.5 add_value`
    would now look like
    `attribute ... modifier add <namespace:id> 0.5 add_value`

**Entity NBT**

- Entity attribute format has changed:
  - `Attributes` → `attributes`
    - `Name` → `id`
    - `Base` → `base`
    - `Modifiers` → `modifiers` _(Now stores modifiers in the same format as
      modifiers in the
      [`minecraft:attribute_modifiers`](https://minecraft.wiki/w/Data_component_format#attribute_modifiers)
      item component)_
      - `UUID` → `uuid`
      - `Name` → `id`
      - `Amount` → `amount`
      - `Operation` → `operation` _(This is now a named constant instead of an
        int)_
        - `add_value` - now a string, previously `0`
        - `add_multiplied_base` - now a string, previously `1`
        - `add_multiplied_total` - now a string, previously `2`
  - 🛠️ For example:
    `summon ... {Attributes:[{Name:"generic.scale",Base:2,Modifiers:[{UUID:[I;1,0,0,0],Name:"example_modifier",Amount:1,Operation:0}]}]}`
    would now look like
    `summon ... {attributes:[{id:"generic.scale",base:2,modifiers:[{id:"tutorial:example_modifier",amount:1,operation:"add_value"}]}]}`
- Replaced the `power` NBT tag with an `acceleration_power` tag. This controls
  the projectile's acceleration (and maximum speed).
  - This applies to: `dragon_fireball`, `large_fireball`, `small_fireball`,
    `fireball`, `breeze_wind_charge`, `wind_charge`, `wither_skull`.
- The field `ShotFromCrossbow` from projectile NBT has been removed. A new
  `weapon` field has been added to replace this feature.
  - 🛠️ For example: `@e[type=arrow,nbt={ShotFromCrossbow:1b}]` would now look
    like `@e[type=arrow,nbt={weapon:{id:"minecraft:crossbow"}}]`

**Tags**

- Removed the `#minecraft:music_discs` item tag

**Predicates**

- Some predicate fields have been renamed:
  - `killer` → `attacker`
  - `direct_killer` → `direct_attacker`
  - `killer_player` → `attacking_player`
- The `random_chance_with_looting` has been renamed (because its now controlled
  by enchantments) to `random_chance_with_enchanted_bonus`. The fields were
  updated accordingly:
  - The `looting_multiplier` field has been removed
  - The `chance` field has been removed.
  - `enchantment` - is a new field containing the namespaced:id of the
    Enchantment that grants the bonus chance
  - `enchanted_chance` is a new field for the chance for an enchanted item. A
    level-based value.
  - `unenchanted_chance` - is a new field specifying the chance for an
    unenchanted item.
- If you are testing for an enchantment on your item, the field `enchantment` →
  `enchantments`. Can be either an Enchantment, a list of Enchantments or an
  #Enchantment Tag.

**Item Modifiers**

- The `looting_enchant` field has been replaced by `enchanted_count_increase`.
  This has a new field `enchantment` (specifies which enchantment).
- Under `enchant_randomly` the field `enchantments` is now called `options`.
- Under `enchant_with_levels` the field `treasure` was removed.
- Under `copy_name` the field `killer` → `attacking_entity` and `killer_player`
  → `last_damage_player`

## [1.20.2](https://minecraft.wiki/w/Java_Edition_1.20.2#Changes)

- Entity effects in NBT now use namespaced IDs instead of numbers.
- The structure for entity effects in NBT has been changed from `PascalCase` to
  `snake_case`.
  - For mob effect instances:
    - `Id` → `id`
    - `Ambient` → `ambient`
    - `Amplifier` → `amplifier`
    - `Duration` → `duration`
    - `ShowParticles` → `show_particles`
    - `ShowIcon` → `show_icon`
    - `HiddenEffect` → `hidden_effect`
    - `FactorCalculationData` → `factor_calculation_data`
  - For others:
    - `CustomPotionEffects` → `custom_potion_effects` (potion, lingering_potion,
      splash_potion, tipped_arrow, arrow)
    - `Effects` → `effects` (suspicious_stew, area_effect_cloud)
    - `EffectId` → id` (suspicious_stew)
    - `EffectDuration` → `duration` (suspicious_stew)
    - `EffectId` and `EffectDuration` → stew_effects (mooshroom)
    - `ActiveEffects` → `active_effects` (player, armor_stand, mobs)
    - `Primary` → `primary_effect` (beacon)
    - `Secondary` → `secondary_effect` (beacon)
