---
title: Generating Random Numbers
description:
  Generate a random number in a datapack using the /random command, or
  alternatively, a loot table.
version: 26.2
---

# Generating Random Numbers using Datapacks!

Generating a random number is very useful in programming for many reasons.
Minecraft 1.20.2 added the `/random` command, which lets us do this very easily.
However, if you are using an older version, you can still generate random
numbers using loot tables.

## 1.20.2 and newer

Because of the `/random` added in 1.20.2, it is much simpler to generate random
numbers. It now only requires a single command:

```mcfunction
execute store result ... run random value 1..10
```

In the command you can change the values 1 and 10 to change the range. You can
fill in `...` to specify where you want to store the random number. For example,
to store the random number in the player's scoreboard:

```mcfunction
execute store result score @s <objective> run random value 1..10
```

## 1.20.1 and below

In earlier versions, a loot table can be used to generate a random number. This
works by summoning a loot table which will drop a random amount of air items,
and storing the result of that summon.

This template loot table can be used to generate a random number between `1` and
`10`:

```json:rng.json
{
  "pools": [
    {
      "rolls": {
        "min": 1,
        "max": 10
      },
      "entries": [
        {
          "type": "minecraft:item",
          "name": "minecraft:stone",
          "functions": [
            {
              "function": "minecraft:set_count",
              "count": 0
            }
          ]
        }
      ]
    }
  ]
}
```

You can change the values `1` and `10` to change the range. If you leave it as
it is, it generates a random number between 1-10.

To use this, you will just have to store the result of summoning this loot
table:

```mcfunction
execute store result ... run loot spawn ~ ~ ~ loot <namespace>:rng
```
