---
title: Item Components
description:
  "Item components are data structures which can be applied to items in
  Minecraft to give them special attributes, such as a name, lore, being able to
  be eaten, etc."
version: 26.2
---

# Item Components

Item components are data structures which can be applied to items in Minecraft
to give them special attributes, such as a name, lore, being able to be eaten,
etc. Each item has specific item components by default - for example, all food
items will have the `minecraft:consumable` component, which makes the item
edible.

A command such as `/give` or `/item` can be used to create an item which has
additional item components, or remove item components from any item.

You can check out all the components and their data structure on the Minecraft
Wiki: https://minecraft.wiki/w/Data_component_format#List_of_components
